{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>AlgoViz</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{% static 'Homepage/style.css' %}" rel="stylesheet">
	</head>
	
	<body>
		
		<div class="nav">
		  <img src="{% static 'images/AlgoViz-logos_black.png' %}">
		    <div class="nav_links">
		      <ul>
			<li><a href="#contactus">Contact Us</a></li>
			<li><a href="#aboutus">About Us</a></li>
			<li><a href="algorithms">Algorithms</a></li>
			<li><a href="datastructures">Data Structures</a></li>
			<li><a href="" class="active">Home</a></li>
		      </ul>
		    </div>
		</div>

		<div class="hero_section">

		  <div class="hero_section_left">
		  <p class="hero_section_FHead"><b>Unlock</b> the World of Algorithms with AlgoViz.</p>
		

		  <p class="hero_section_FText">
		    Welcome to AlgoViz, where the world of algorithms unfolds before your eyes. Our innovative platform offers a captivating learning experience that goes beyond textbooks and lectures. Dive into the core of computational problem-solving through dynamic visualizations that bring algorithms to life. Whether you're a student eager to conquer computer science or a curious mind looking to expand your knowledge, AlgoViz empowers you to explore, experiment, and elevate your understanding. Join us on this interactive journey, and unlock the limitless possibilities of algorithmic thinking.
		  </p>
		  </div>

		  <div class="hero_section_right">
		    <div class="hero_section_images_top">
		      <div>
			<img src="{% static 'images/Tree_1.png' %}">
			<p>Tree</p>
		      </div>
		      <div>
			<img src="{% static 'images/Graph_1.png' %}">
			<p>Graph</p>
		      </div>
		    </div>
		    <div class="hero_section_images_bot">
		      <div class="hero_section_stackdiv">
			<img class="hero_section_stack" src="{% static 'images/Stack.png' %}">
			<p class="StackT">Stack</p>
		      </div>
		      <div>
			<img class="hero_section_array" src="{% static 'images/Array.png' %}">
			<p class="ArrayT">Array</p>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="footer">
		  <div class="footer_left">
		    <img src="{% static 'images/AlgoViz-logos_white.png' %}">
		    <p>|</p>
		    <div class="nav_links">
		      <ul>
			<li><a href="datastructures">Data Structures</a></li>
			<li><a href="algorithms">Algorithms</a></li>
			<li><a href="contactus">Contact Us</a></li>
			<li><a href="aboutus">About Us</a></li>
		      </ul>
		    </div>
		  </div>
		  <div class="footer_right">
		    <p class="footer_right_quote"><b class="footer_right_quote_change">Change</b> the Way You Think</p>
		  </div>
		</div>
		
</body>
</html>
