{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>AlgoViz</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{% static 'Homepage/style.css' %}" rel="stylesheet">
	</head>
	
	<body>
		
		<div class="nav">
		  <img src="{% static 'images/AlgoViz-logos_black.png' %}">
		    <div class="nav_links">
		      <ul>
			<li><a href="#contactus">Contact Us</a></li>
			<li><a href="#aboutus">About Us</a></li>
			<li><a href="#algorithms">Algorithms</a></li>
			<li><a href="#datastructures">Data Structures</a></li>
			<li><a href="#home" class="active">Home</a></li>
		      </ul>
		    </div>
		</div>

		<div class="hero_section">

		  <div class="hero_section_left">
		  <p class="hero_section_FHead"><b>Unlock</b> the World of Algorithms with AlgoViz.</p>
		

		  <p class="hero_section_FText"> Welcome to Algoviz, where the world of algorithms unfold before your eyes.
			Our innovative platform offers a captivating learning experience thet goes beyond textbooks and lectures.
			Dive int the core of computational problem-solving through dynamic visualizations that bring algoriths to life.
			Whether you're a student eager to conquer computer science or a curious mind lookingto expand your knowledge, 
			AlgoViz empowers you to explore, experiment and elevate your understanding. Join us on this 
			interactive journey and unlock the limitless possibilites of algorithm thinking.
		  </p>
		  </div>

		  <div class="hero_section_right">
		    <img src="{% static 'images/Array.png' %}">
		    <img src="{% static 'images/Stack.png' %}">
		    <img src="{% static 'images/Tree_1.png' %}">
		    <img src="{% static 'images/Graph_1.png' %}">
		  </div>
		</div>
		
</body>
</html>
